.about{
    padding: 100px 10%;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text{
    max-width: 800px;
    text-align: center;
}

.about-text h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.about-text p{
    line-height: 1.8;
    margin-bottom: 20px;
}

/* EDUCATION */

.education{
    padding: 80px 10%;
    text-align: center;
}

.education h2{
    margin-bottom: 30px;
}

.education-card{
    background: #1e293b;

    padding: 40px;

    border-radius: 10px;

    max-width: 600px;

    margin: auto;
}

/* INTERESTS */

.interests{
    padding: 80px 10%;
}

.interests h2{
    text-align: center;
    margin-bottom: 30px;
}

.interest-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.interest-card{
    background: #1e293b;

    padding: 20px 30px;

    border-radius: 10px;

    transition: 0.3s;
}

.interest-card:hover{
    transform: translateY(-5px);
}